$color-orange-1: #fc4a1a;
$color-orange-2: #f7b733;
$color-yellow-1: #FFD200;

$color-greensea: #16a085;
$color-greensea-light: #1abc9c;

$color-red-1: #c03a2b;
$color-purple-1: #8e44ad;

$color-grey-light-1: #F7F7F7;